.container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0;
  background-color: pink;
}

.grid-item {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.grid-item :hover {
  background-color: red;
}
